<button mat-icon-button class="close-button" [mat-dialog-close]>
    <mat-icon class="close-icon">close</mat-icon>
</button> 
<div class="modal-loading">
    <mat-spinner diameter="38" *ngIf="isLoading"></mat-spinner>
</div>
<div mat-dialog-title>{{'filter' | transloco}}
</div>
<mat-dialog-content>
    <ng-container *ngIf="!isLoading">
        <form [formGroup]="filterForm">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3"> 
            <div class="px-2 overflow-hidden" [@zoomIn]="'*'">
                <app-date [data]="{ start: date.value.start, end: date.value.end }" (returnSavedFilters)="returnDate($event)"></app-date>
            </div>
            <div class="px-2" [@zoomIn]="'*'">
                <app-select [data]="inputStatusSelect | async" (returnSavedFilters)="returnSelect($event)"></app-select>
            </div>
            <div class="px-2" [@zoomIn]="'*'">
                <app-select [data]="inputCountrySelect | async" (returnSavedFilters)="returnSelect($event)"></app-select>
            </div>
            <div class="px-2" [@zoomIn]="'*'">
                <app-select [data]="inputDomainSelect | async" (returnSavedFilters)="returnSelect($event)"></app-select>
            </div>
            <div class="px-2" [@zoomIn]="'*'">
                <app-select [data]="inputCampaignSelect | async" (returnSavedFilters)="returnSelect($event)"></app-select>
            </div>
            <div class="px-2" [@zoomIn]="'*'">
                <app-select [data]="inputPixelSelect | async" (returnSavedFilters)="returnSelect($event)"></app-select>
            </div>
            <div class="px-2" *ngIf="isAffiliate" [@zoomIn]="'*'">
                <app-select [data]="inputAffiliateSelect | async" (returnSavedFilters)="returnSelect($event)"></app-select>
            </div>
            <div class="px-2" [@zoomIn]="'*'">
                <app-select [data]="inputTeamSelect | async" (returnSavedFilters)="returnSelect($event)"></app-select>
            </div>
            <div class="px-2" [@zoomIn]="'*'">
                <app-select [data]="inputPartnerSelect | async" (returnSavedFilters)="returnSelect($event)"></app-select>
            </div>
        </div>
        </form>
    </ng-container>
    <div class="p-3 px-2">
        <my-filter [input]="filter | async" (returnSavedFilters)="returnCurrentFilter($event)"></my-filter>
    </div>
</mat-dialog-content>
<div mat-dialog-actions class="flex">
    <div class="flex-1 p-2">
        <button mat-button class="w-full" [mat-dialog-close]>{{'cancel' | transloco}}</button>
    </div>
    <div class="flex-1 p-2">
        <button mat-raised-button class="custom-button-1 w-full" [mat-dialog-close] (click)="accept()">{{ 'accept' | transloco }}</button>
    </div>
</div>