<div class="flex flex-col flex-auto min-w-0 p-3 pt-2">
  <div class="flex flex-row flex-wrap">

      <div class="p-1" [@zoomIn]="'*'">
        <button mat-raised-button class="custom-button-1" (click)="filter()">
          {{'filter' | transloco}}
        </button>
      </div>

      <!-- Current filter start -->
      <div *ngFor="let item of savedFilters" class="p-1" [@zoomIn]="'*'">
        <button mat-raised-button class="w-full" (click)="engageFastFilter(item.filter)">{{item.name}}</button>
      </div>
      <!-- Current filter end -->

  </div>

  <!-- Current filter start -->
  <div *ngIf="currentFilter.length" class="flex flex-row flex-wrap py-1">
    <div class="py-1">
      <button mat-raised-button class="custom-button-1" (click)="show = !show">{{ show ? 'Hide filter': 'Show filter' }}</button>
    </div>
    <div class="p-1 px-3">
      <button mat-raised-button class="custom-button-2" (click)="clearFilter()">{{ 'clear_filter' | transloco }}</button>
    </div>
  </div>
  <div class="long-filter" [class.show]="show">
    <div *ngFor="let item of currentFilter" class="inline">
      <div *ngIf="item.filter.length" class="p-1">
          <mat-chip-list>
              <mat-chip selected>{{item.name | transloco}}:</mat-chip>
              <mat-chip *ngFor="let val of item.filter" (removed)="removeItemNewFilter(val, item.name)">
                {{val.name || val}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
          </mat-chip-list>
      </div>
    </div>
  </div>
  <!-- Current filter end -->

</div>
  