<div class="p-3 mt-2 border rounded">
    <div class="py-3 pt-0 text-xl">{{'my_filters' | transloco}}</div>
    <div>
        <div *ngIf="isSaveFilter" class="p-3 my-3 mt-1 border relative rounded">
            <div class="pb-3 text-xl">New filter</div>
            <button style="position: absolute;top:10px;right:10px;" (click)="createFilter()">
                <mat-icon>cancel</mat-icon>
            </button>
            <div class="px-2">
                <mat-form-field class="w-full">
                    <mat-label>{{'filter_name' | transloco}}</mat-label>
                    <input #filterName matInput placeholder="Enter filter name">
                </mat-form-field>
            </div>
            <div *ngFor="let item of input.filterData | keyvalue">
                <div class="py-2 px-2" *ngIf="item.value.length > 0">
                <mat-chip-list>
                    <mat-chip selected>{{item.key | transloco}}:</mat-chip>
                    <mat-chip *ngFor="let val of item.value" (removed)="removeItemNewFilter(val, item.key)">
                        {{val.name || val}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
                </div>
            </div>
            <div class="p-2 py-2">
                <button mat-raised-button class="custom-button-1" (click)="saveFilter(filterName.value)">{{'save' | transloco}}</button>
            </div>
        </div>
        <div class="p-3 border rounded">
            <div class="pb-3 text-xl flex flex-row items-stretch relative">
                <div class="align-middle">
                    Saved filters
                </div>
                <div class="align-middle px-3">
                    <mat-icon *ngIf="!isSaveFilter" color="primary" (click)="createFilter()">add</mat-icon>
                </div>
            </div>
            <mat-chip-list>
                <mat-chip *ngFor="let item of savedFiltersS | async" (click)="openSaveFilter(item)" (removed)="removeSavedFilter(item)">
                    {{item.name}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-list>
            <div class="mt-2 pt-3" *ngIf="isFilterDetail">
                <div class="p-3 border rounded relative">
                    <div class="py-3 pt-0 text-xl">Detail: {{filterDetail.name}}</div>
                    <div *ngFor="let item of filterDetail.filter | keyvalue">
                        <div *ngIf="item.value" class="p-1">
                            <mat-chip-list>
                                <mat-chip selected>{{item.key | transloco}}:</mat-chip>
                                <mat-chip *ngFor="let val of item.value">{{val.name || val}}</mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                    <button style="position: absolute;top:10px;right:10px;" (click)="isFilterDetail = false">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>