<mat-form-field class="w-full">
    <mat-label>Date</mat-label>
    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
      <input matStartDate readonly placeholder="Start date" formControlName="start" #start>
      <input matEndDate readonly placeholder="End date" formControlName="end" #end (dateChange)="endChange()">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker (opened)="onOpen()"></mat-date-range-picker>
    <div style="display: none;">
        <div class="datepicker-footer" #datepickerFooter>
            <mat-chip-list>
                <mat-chip (click)="[today(), campaignOnePicker.close()]">Today</mat-chip>
                <mat-chip (click)="[yesterday(), campaignOnePicker.close()]">Yesterday</mat-chip>
                <mat-chip (click)="[last7days(), campaignOnePicker.close()]">Last 7 Days</mat-chip>
                <mat-chip (click)="[last30days(), campaignOnePicker.close()]">Last 30 Days</mat-chip>
                <mat-chip (click)="[thisMonth(), campaignOnePicker.close()]">This Month</mat-chip>
                <mat-chip (click)="[lastMonth(), campaignOnePicker.close()]">Last Month</mat-chip>
            </mat-chip-list>
        </div>
    </div>
</mat-form-field>